.container {
  margin: 40px 0;
  white-space: pre-line;

  p {
    line-height: 2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    font-size: 28px;
    font-weight: 600;
  }

  h4 {
    font-size: 24px;
    font-weight: 500;
  }

  h5 {
    font-size: 22px;
    font-weight: 500;
  }

  h6 {
    font-size: 20px;
    font-weight: 500;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  mark {
    background-color: yellow;
  }

  blockquote {
    position: relative;
    padding: 0 16px;
    background-color: gray;
    border-left: 10px solid red;
  }

  ul,
  ol {
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
    list-style-type: disc;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }

  li {
    line-height: 2;
    list-style-position: inside;
  }
}
