.container {
  margin: 40px 0;
  white-space: pre-line;

  p {
    font-weight: 300;
    line-height: 2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0;
  }

  h1 {
    font-size: 32px;
    font-weight: 400;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
  }

  h3 {
    font-size: 28px;
    font-weight: 400;
  }

  h4 {
    font-size: 24px;
    font-weight: 300;
  }

  h5 {
    font-size: 22px;
    font-weight: 300;
  }

  h6 {
    font-size: 20px;
    font-weight: 300;
  }

  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  mark {
    background-color: yellow;
  }

  a {
    color: blue;

    :hover {
      color: blue;
    }
  }

  blockquote {
    padding: 0 16px;
    background-color: gray;
    border-left: 8px solid red;
    border-radius: 8px;
  }

  ul,
  ol {
    position: relative;
    left: 12px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
  }

  li {
    font-weight: 300;
    line-height: 2;
  }

  img {
    width: 100%;
  }

  pre,
  code {
    font-family: Menlo, Monaco, 'Courier New', monospace !important;
  }

  pre {
    overflow-x: scroll;
    font-size: 14px;
  }

  code {
    padding: 2px;
    background-color: yellow;
    border-radius: 4px;
  }
}
