// light theme
$BG_PRIMARY_LIGHT: #f8f9fa;
$BG_ELEMENT_LIGHT: #fafafa;

$TEXT_PRIMARY_LIGHT: #212529;

$BORDER_PRIMARY_LIGHT: #343a40;
$BORDER_SECONDARY_LIGHT: #adb5bd;

$PRIMARY: #004031;

// dark theme

$BG_PRIMARY_DARK: #121212;
$BG_ELEMENT_DARK: #2c2c2c;

$TEXT_PRIMARY_DARK: #ececec;

$BORDER_PRIMARY_DARK: #e0e0e0;
$BORDER_SECONDARY_DARK: #a0a0a0;

$PRIMARY: #5ed483;
