@use '@/styles/constants/colors' as c;

.title {
  height: 100px;
  font-size: 45px;
  font-weight: 400;
  line-height: 100px;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px solid c.$BORDER_PRIMARY;
}

.main {
  display: none;
}
