@use '@/styles/constants/colors' as c;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid c.$BORDER_PRIMARY;
}

.category {
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: transparent;
  border: 1px solid c.$BORDER_PRIMARY;
  opacity: 1;
  transition: all 0.1s ease-out;

  li {
    height: 24px;
    line-height: 24px;
  }
}

.hidden {
  opacity: 0;
}

.domain {
  position: absolute;
  top: 50%;
  left: 50%;
  text-decoration: underline;
  transform: translate(-50%, -50%);
}
