@use '@/styles/constants/colors' as c;

.container + .container {
  border-top: 1px solid c.$BORDER_PRIMARY;
}

.thumbnailList {
  margin: 0 auto;
  list-style: none;

  li {
    padding: 20px 12px 0;
  }

  li + li {
    border-top: 1px solid c.$BORDER_PRIMARY;
  }
}

.postLink {
  display: block;
  width: 100%;
}
