.container {
  display: flex;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border-bottom: 1px solid var(--border1);

  p {
    font-weight: 400;
    text-transform: capitalize;
  }

  p + p {
    margin-left: 10px;
  }
}
