:root {
  --background-primary: #f8f9fa;
  --background-element: #fafafa;
  --text1: #212529;
  --border1: #343a40;
  --border2: #adb5bd;
  --color-primary: #004031;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #121212;
    --background-element: #fafafa;
    --text1: #ececec;
    --border1: #e0e0e0;
    --border2: #a0a0a0;
    --color-primary: #5ed483;
  }
}

:root[data-theme='light'] {
  --background-primary: #f8f9fa;
  --background-element: #fafafa;
  --text1: #212529;
  --border1: #343a40;
  --border2: #adb5bd;
  --color-primary: #004031;
}

:root[data-theme='dark'] {
  --background-primary: #121212;
  --background-element: #2c2c2c;
  --text1: #ececec;
  --border1: #e0e0e0;
  --border2: #a0a0a0;
  --color-primary: #5ed483;
}

body {
  color: var(--text1);
  background-color: var(--background-primary);
  transition: background 0.2s ease-in 0s;
}
